$blue: #87ceeb;
$gray: #0e0e0e;
$green: #90ee90;
$white: #fff;

body {
  background: $green;
}

.calculator {
  $radius: 2em;
  $border: 2px solid $gray;

  background: white;
  border: $border;
  border-radius: $radius;
  margin: 0 auto;
  margin-top: 4em;
  max-width: 20em;
  width: 100%;

  .tabs {
    display: grid;

    > * {
      grid-row: 1;
      border-left: $border;
      box-sizing: border-box;
      cursor: pointer;
      padding-top: .5em;
      text-align: center;
      width: 100%;
    }

    > :first-child {
      border-left: 0;
      border-top-left-radius: $radius;
      padding-left: .3em;
    }

    > :last-child {
      border-top-right-radius: $radius;
    }

    > [data-active="true"] {
      background: $blue;
      color: $white;
    }
  }

  .plane {
    display: grid;
    grid-template-columns: 1fr 6em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 1em;

    &:not(:first-child) {
      border-top: $border;
    }

    .offset-1 {
      grid-column: 2;
    }

    .sum {
      font-weight: bold;
      text-align: right;
    }

    button {
      background: $blue;
      border: 0;
      border-radius: 1em;
      cursor: pointer;
      font-size: 1em;

      &.active {
        background: $green;
      }
    }

    input {
      width: 90%;
    }
  }
}
